.footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: #073D65;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  